* {
    font: bold 20px 'Inconsolata', sans-serif;
    color: #d1da49
}
body {
    margin: 0;
}
.sticky-menu {
    min-height: 47px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #407e4b;
}
.menu_items {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.subtle_button {
    color: #502e21;
    background-color: transparent;
    border: none;
    padding-block: 10px;
    padding-inline: 30px;
    margin-inline: 10px;
    border-radius: 8px;
}
.brown_button {
    background-color: #502e21;
    max-width: 300px;
    padding-block: 8px;
    padding-inline: 30px;
    margin-inline: 10px;
    border-radius: 10px;
}
.big_brown_button {
    background-color: #502e21;
    font-size: 30px;
    padding-block: 20px;
    padding-inline: 60px;
    margin-inline: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.subtle_button:hover, .brown_button:hover {
    text-decoration: underline;
}
.main_content {
    display: flex;
    min-height: 80vh;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: none;
    background-color: #1c362e;
}
h1 {
    font: 90px 'Irish Grover', sans-serif;
    margin-inline: 200px;
}
h2 {
   font: 45px 'Irish Grover', sans-serif;
}
.log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#502e21;
    height: 100px;
}
.log > div {
    margin-inline: 50px;
}
.log > div > div {
    display: inline-block;
    padding-block: 6px;
    padding-inline: 10px;
    border-radius: 10px;
}
.data {
    background-color: #331e15;
}
.about_content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: none;
    justify-content: start;
    background-color: #407e4b;
}
.about_content > p {
    color: #331e15;
    margin-inline: 200px;
    margin-bottom: 150px;
}
.top_three_content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: none;
    justify-content: start;
    background-color: #407e4b;
}
.top_three_content > p {
    color: #331e15;
    margin-bottom: 150px;
}
.footer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #1c362e;
}
.footer .subtle_button {
    color: #d1da49;
}
.monkey-menu {
    min-height: 47px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #407e4b;
    justify-content: space-between;
}
.monkey-background {
    text-align: left;
    background-color: #1c362e;
    padding: 30px;
    min-height: 100vh;
}
.monkey-background h2 {
    margin-left: 15px;
    margin-top: -5px;
}
.monkey-form {
    display: inline-block;
    background-color: #407e4b;
    padding: 30px;
    margin-inline: 10px;
    border-radius: 10px;
}
.monkey-form > div {
    margin-bottom: 30px;
}
.monkey-form select, .monkey-form option, 
.monkey-form input, .monkey-form textarea {
    display: inline-block;
    color: #331e15;
}
.monkey-form label {
    display: inline-block;
    vertical-align: top;
    min-width: 120px;
    color: #d1da49;
}
.monkey-form input {
    vertical-align: bottom;
    width: 280px;
}
#success {
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 16px;
    color: maroon;
}
#success:empty {
    display: none;
}